<% provide(:title, 'All tasks') %>
<h1>All tasks</h1>

<%#= will_paginate %>

<%= link_to 'New', new_task_path %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Created Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <%= render @tasks %>
  </tbody>
</table>

<%#= will_paginate %>
